node_modules/
/dist
/build
/dist.zip
/dist.tar.gz
/dist.tar.bz2
/dist.tar.xz
/dist.tar.lzma
/dist.tar.lz
/dist.tar.lzip
/dist.tar.lzip
.env
/backend/.data
/frontend/public/assets/images/imges/
/.wrangler
